body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(https://lh3.googleusercontent.com/qZ7LgXdH6mMyh4vPXqzrLuBzkhI2HXcB35apmRxVCbT-A6EUabEJD3E4Omz4WNvzwE0_=h900); 
  font-family: Arial, sans-serif;
}

.score-board {
  margin-bottom: 10px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  gap: 2px;
  background-color: rgb(147, 121, 89);
  box-shadow: 5px 5px 10px 5px  rgba(0,0,0,0.5),
  inset 5px 5px 20px rgba(255, 255,255, 0.2),
  inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}

.grid div {
  width: 50px;
  height: 50px;
  background-color: #ddd;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 5px  rgba(0,0,0,0.5),
  inset 5px 5px 20px rgba(255, 255,255, 0.2),
  inset -5px -5px 15px rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.grid div.red { background-color: red; }
.grid div.yellow { background-color: yellow; }
.grid div.magenta { background-color: magenta; }
.grid div.aqua { background-color: aqua; }
.grid div.green { background-color: green; }
.grid div.blue { background-color: blue; }
.grid div.maroon { background-color: maroon; }
